:root {
  font-family:
    "Pretendard",
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    sans-serif;
  background-color: #f8f9fa; /* 연한 그레이 배경 */
  color: #212529;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

#root {
  width: 100%;
  max-width: 1200px;
}
